* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
}

.container {
	width: 100%;
	height: 100%;
}

.container.outer {
	display: table;
}

.container.inner {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.board {
	display: inline-block;
	position: relative;
}

.square,
.coord {
	width: 10vh;
	height: 10vh;
	float: left;
	font-size: 4vh;
	line-height: 4vh;
}

.square {
	border: solid 1px #000;
	background-color: #fff;
	background-size: 120% 120%;
	background-position: center center;
	font-family: arial;
	font-size: 11px;
	position: relative;
}

.coord.letter {
	height: 5vh;
}

.coord:nth-child(2),
.coord:nth-child(3),
.coord:nth-child(4),
.coord:nth-child(5),
.coord:nth-child(6),
.coord:nth-child(7),
.coord:nth-child(8),
.coord:nth-child(9) {
	border-bottom: solid 1px #000;
}

.coord:nth-child(11),
.coord:nth-child(21),
.coord:nth-child(31),
.coord:nth-child(41),
.coord:nth-child(51),
.coord:nth-child(61),
.coord:nth-child(71),
.coord:nth-child(81) {
	border-right: solid 1px #000;
}

.coord:nth-child(20),
.coord:nth-child(30),
.coord:nth-child(40),
.coord:nth-child(50),
.coord:nth-child(60),
.coord:nth-child(70),
.coord:nth-child(80),
.coord:nth-child(90) {
	border-left: solid 1px #000;
}

.coord:nth-child(92),
.coord:nth-child(93),
.coord:nth-child(94),
.coord:nth-child(95),
.coord:nth-child(96),
.coord:nth-child(97),
.coord:nth-child(98),
.coord:nth-child(99) {
	border-top: solid 1px #000;
}

.coord.number {
	width: 5vh;
	line-height: 9vh;
}

.board div:nth-child(10n + 1){
	clear: both;
}

.square[data-y="7"]:nth-child(even),
.square[data-y="6"]:nth-child(odd),
.square[data-y="5"]:nth-child(even),
.square[data-y="4"]:nth-child(odd),
.square[data-y="3"]:nth-child(even),
.square[data-y="2"]:nth-child(odd),
.square[data-y="1"]:nth-child(even),
.square[data-y="0"]:nth-child(odd){
	background-color: #6f85b7;
}

.square.highlight {
	background-color: #00ff00 !important;
}

.turn {
	position: absolute;
	margin: 20px;
	font-size: 24px;
}

.turn .label {
	display: inline;
}

.turn .value {
	display: inline-block;
}

.turn .value::first-letter {
	text-transform: capitalize;
}

.coords {
	position: absolute;
	left: 0;
}

.coords-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.piece {
	width: 100%;
	height: 100%;
	font-size: 10vh;
	line-height: 10vh;
}

.jail {
	border: solid 1px #000;
	display: inline-block;
	position: relative;
	margin: 0 40px 5vh 40px;
}

.jail .square {
	border: none;
}

.jail .square:nth-child(2n + 1){
	clear: both;
}

.white.pawn::after {
	/* &#9817; */
	content: '♙';
}
.black.pawn::after {
	/* &#9823; */
	content: '♟';
}

.white.rook::after {
	/* &#9814; */
	content: '♖';
}
.black.rook::after {
	/* &#9820; */
	content: '♜';
}

.white.knight::after {
	/* &#9816; */
	content: '♘';
}
.black.knight::after {
	/* &#9822; */
	content: '♞';
}

.white.bishop::after {
	/* &#9815; */
	content: '♗';
}
.black.bishop::after {
	/* &#9821; */
	content: '♝';
}

.white.queen::after {
	/* &#9813; */
	content: '♔';
}
.black.queen::after {
	/* &#9819; */
	content: '♚';
}

.white.king::after {
	/* &#9812; */
	content: '♕';
}
.black.king::after {
	/* &#9818; */
	content: '♛';
}
